<div class="container nav">
  <button class="btn btn-primary" (click)="changeWeek(-1)">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
  </button>
  <button class="btn btn-primary" (click)="changeWeek(+1)">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
  </button>
  <select #userSelect="ngModel"
          [(ngModel)]="selectedUser"
          (ngModelChange)="updateCalendar()"
          name="user-select"
          class="form-control">
    <option [ngValue]="null">All Users</option>
    <option *ngFor="let user of users" [ngValue]="user">{{ user }}</option>
  </select>
  <div class="selected-color" [ngClass]="colors[userSelect.value]"></div>
</div>

<div class="container">
  <table class="table">
    <thead>
    <tr>
      <th class="text-center">Hours</th>
      <th *ngFor="let day of days" class="text-center">{{ day.title }}</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td class="hours">
        <div *ngFor="let hour of hours" class="cell cell-hour text-right">{{ hour }}</div>
      </td>
      <td *ngFor="let day of days">
        <div *ngFor="let hour of hours" class="cell"></div>
        <template ngFor let-group [ngForOf]="day.groups">
          <div *ngFor="let event of group.events; let $index = index"
               [style.top.px]="positionTop(event)"
               [style.bottom.px]="positionBottom(event)"
               [style.width.%]="100 / group.events.length"
               [style.left.%]="(100 / group.events.length) * $index"
               [ngClass]="colors[event.name]"
               [class.conflicted]="event.isConflicted"
               class="event">
            <div class="event-title">{{ event.name }}</div>
          </div>
        </template>
      </td>
    </tr>
    </tbody>
  </table>
</div>