@import 'variables';

events-calendar {
  $table-border: 1px solid map-get($colors, blue);

  .table > thead > tr > th {
    border-bottom: 0;
  }

  .table > tbody > tr {
    > td, > th {
      position: relative;
      width: 13.5%;
      padding: 0;
      text-overflow: ellipsis;
      border-top: 0;

      &.hours {
        width: 5%;
      }
    }

    .cell {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 30px;
      border-bottom: $table-border;
      border-left: $table-border;

      &:first-child {
        border-top: $table-border;
      }

      &-hour {
        padding-right: 5px;
        justify-content: flex-end;
      }
    }

    > td:last-child {
      .cell {
        border-right: $table-border;
      }
    }
  }

  .event {
    position: absolute;
    background: transparentize(map-get($colors, blue), 0.5);
    text-overflow: ellipsis;
    overflow: hidden;
    border: 1px solid;
    border-top-width: 7px;

    &.red {
      border-color: red;
    }

    &.yellow {
      border-color: yellow;
    }

    &.green {
      border-color: green;
    }

    &.purple {
      border-color: purple;
    }

    &.conflicted {
      background: transparentize(red, 0.5);
    }

    &-title {
      padding: 5px;
      border-radius: 2px;
      width: 100%;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    &:hover {
      overflow: visible;

      .event-title {
        position: absolute;
        background: inherit;
        width: auto;
        z-index: 10;
      }
    }
  }

  .nav {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;

    button {
      margin: 0 20px;
    }

    .form-control {
      display: inline-block;
      width: 200px;
      margin: 0 20px;
    }
  }

  .selected-color {
    display: inline-block;
    border: 1px solid map-get($colors, gray);
    width: 30px;
    height: 30px;
    border-radius: 3px;

    &.red {
      background: red;
    }

    &.yellow {
      background: yellow;
    }

    &.green {
      background: green;
    }

    &.purple {
      background: purple;
    }
  }
}
